.square-button {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winning-square {
  background-color: #28a745 !important;
  font-weight: bold;
  box-shadow: 0 0 10px #28a745;
}
