<h1>data-list works!</h1>
<button (click)="showData()">Load Data</button>
<input type="text" [(ngModel)]="id" placeholder="Enter id">
<button (click)="checkId(id)">checkId</button>
<button (click)="resetData()"> reset</button>


<ul *ngIf="data">
  <li *ngFor="let item of data">
    {{ item.name }}
  </li>
</ul>


<div *ngIf="!data">
Check the data by clicking the button
</div>



<div>{{count}}</div>

<button (click)="countPlus()">Increment+</button>
<button (click)="countMinus()">Increment-</button>


<div>{{today}}</div>

<button (click)="getToday()">Show Date</button>
