<!-- Desktop Navigation -->
<ul *ngIf="!isMobile" #navBar class="flex justify-start items-center gap-4 bg-gray-100 bg-opacity-50 backdrop-blur p-4 rounded-lg">
  <li>
    <a mat-flat-button
       color="primary"
       routerLink="/"
       routerLinkActive="mat-accent"
       [routerLinkActiveOptions]="{ exact: true }"
       class="text-white">
      <mat-icon>home</mat-icon>
      <span class="ml-2">Home</span>
    </a>
  </li>
  <li>
    <a mat-flat-button
       color="primary"
       routerLink="/calc"
       routerLinkActive="mat-accent"
       class="text-white">
      <mat-icon>calculate</mat-icon>
      <span class="ml-2">Calc</span>
    </a>
  </li>
  <li>
    <a mat-flat-button
       color="primary"
       routerLink="/contact"
       routerLinkActive="mat-accent"
       class="text-white">
      <mat-icon>contact_mail</mat-icon>
      <span class="ml-2">Contact</span>
    </a>
  </li>
  <li>
    <a mat-flat-button
       color="primary"
       routerLink="/users"
       routerLinkActive="mat-accent"
       class="text-white">
      <mat-icon>person</mat-icon>
      <span class="ml-2">user-mock</span>
    </a>
  </li>
  <li>
    <a mat-flat-button
       color="primary"
       routerLink="/weather"
       routerLinkActive="mat-accent"
       class="text-white">
      <mat-icon>thermostat</mat-icon>
      <span class="ml-2">Weather</span>
    </a>
  </li>
  <li>
    <a mat-flat-button
       color="primary"
       routerLink="/games"
       routerLinkActive="mat-accent"
       class="text-white">
      <mat-icon>sports_esports</mat-icon>
      <span class="ml-2">Games</span>
    </a>
  </li>
</ul>

<!-- Mobile Navigation (p-toolbar) -->
<p-toolbar *ngIf="isMobile" styleClass=" bg-gray-100 bg-opacity-50 backdrop-blur">
  <ng-template pTemplate="start">
    <a mat-icon-button
       color="primary"
       routerLink="/"
       routerLinkActive="mat-accent"
       [routerLinkActiveOptions]="{ exact: true }"
       class="text-white">
      <mat-icon>home</mat-icon>
    </a>
  </ng-template>
  <ng-template pTemplate="center">
    <div class="flex flex-wrap items-center gap-3">
      <a mat-icon-button
         color="primary"
         routerLink="/calc"
         routerLinkActive="mat-accent"
         class="text-white">
        <mat-icon>calculate</mat-icon>
      </a>
      <a mat-icon-button
         color="primary"
         routerLink="/contact"
         routerLinkActive="mat-accent"
         class="text-white">
        <mat-icon>contact_mail</mat-icon>
      </a>
      <a mat-icon-button
         color="primary"
         routerLink="/about"
         routerLinkActive="mat-accent"
         class="text-white">
        <mat-icon>person</mat-icon>
      </a>
      <a mat-icon-button
         color="primary"
         routerLink="/weather"
         routerLinkActive="mat-accent"
         class="text-white">
        <mat-icon>thermostat</mat-icon>
      </a>
      <a mat-icon-button
         color="primary"
         routerLink="/games"
         routerLinkActive="mat-accent"
         class="text-white">
        <mat-icon>sports_esports</mat-icon>
      </a>
    </div>
  </ng-template>
</p-toolbar>
