<ul #navBar class="flex justify-start items-center gap-4 bg-gray-100 bg-opacity-50 backdrop-blur p-4 rounded-lg">
  <li>
    <a mat-flat-button
       color="primary"
       routerLink="/"
       routerLinkActive="mat-accent"
       [routerLinkActiveOptions]="{ exact: true }"
       class="text-white">
      <mat-icon>home</mat-icon>
      <span class="ml-2">Home</span>
    </a>
  </li>
  <li>
    <a mat-flat-button
       color="primary"
       routerLink="/calc"
       routerLinkActive="mat-accent"
       class="text-white">
      <mat-icon>calculate</mat-icon>
      <span class="ml-2">Calc</span>
    </a>
  </li>
  <li>
    <a mat-flat-button
       color="primary"
       routerLink="/contact"
       routerLinkActive="mat-accent"
       class="text-white">
      <mat-icon>contact_mail</mat-icon>
      <span class="ml-2">Contact</span>
    </a>
  </li>
  <li>
    <a mat-flat-button
       color="primary"
       routerLink="/about"
       routerLinkActive="mat-accent"
       class="text-white">
      <mat-icon>person</mat-icon>
      <span class="ml-2">About</span>
    </a>
  </li>
  <li>
    <a mat-flat-button
       color="primary"
       routerLink="/weather"
       routerLinkActive="mat-accent"
       class="text-white">
      <mat-icon>thermostat</mat-icon>
      <span class="ml-2">Weather</span>
    </a>
  </li>
</ul>
